@import "tailwindcss";

@theme inline {
  --color-primary: #125C28;
  --color-primary-light: #1C8F3E;
  --color-text: #0D141A;
  --color-gray-light: #f7f7f7;
  --color-gray-border: #e5e5e5;
  --font-serif: var(--font-lora);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: var(--color-text);
  font-family: var(--font-serif), ui-serif, Georgia, serif;
}
